openai
python-dotenv
streamlit
pymongo
langchain
langgraph
pymongo
werkzeug


langchain
langchain_community
langchain_core
langchain_openai
langchain_anthropic
langchain_mistralai
langchain_groq


gradio
groq
numpy
soundfile